<footer style="background: #b3bac3;">
    <div style="margin: auto; width: 80%; display: table; padding: 20px 0;">
        <div style="display: table-cell; width: 50%;">
            <h3>Карта сайта</h3>
            <a style="display: block;" href="">Главная</a>
            <a style="display: block;" href="">Регистрация</a>
            <a style="display: block;" href="">Регионы</a>
            <a style="display: block;" href="">Рейтинговая таблица</a>
            <a style="display: block;" href="">Новости</a>
            <a style="display: block;" href="">Мобильное приложение</a>
        </div>
        <div style="display: table-cell; width: 50%;">
            <h3>Команда разработчиков</h3>
            <a style="display: block;" href="https://vk.com/fortune_master">Станислав Сидорюк</a>
            <a style="display: block;" href="https://vk.com/old_white_wolf">Александр Чеботарев</a>
            <a style="display: block;" href="https://vk.com/alexbidenko">Александр Биденко</a>
            <a style="display: block;" href="https://vk.com/irina_maksimova_idei_dla_biznesa">Ирина Максимова</a>
            <a style="display: block;" href="https://vk.com/shurrriken">Александр Фирсов</a>
        </div>
    </div>
    <div style="background: #1890ff; padding: 4px 0; box-shadow: 0px 2px 8px 0px black;">
        <div style="width: 80%; margin: auto;">
            <h5>Команда Tech Crusade</h5>
        </div>
    </div>
</footer>